<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <div class="container">
   <a class="navbar-brand" routerLink="/player">Runescape Stats</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link" routerLink="/player">Inicio <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
         <a class="nav-link" routerLink="/player">Hiscores</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" routerLink="/player">Sobre</a>
       </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
       <input class="form-control mr-sm-2" type="search"
              placeholder="Player" aria-label="Search"
              required [(ngModel)]="playerInput" name="playerInput">
       <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="searchPlayer()">Buscar</button>
     </form>
   </div>
 </div>
</nav>
