.skill {

  &-name {
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px 20px;
    border-top: 1px dotted #999588;
    padding-left: 35px;
    text-transform: capitalize;
  }

}
