
<h1>{{skillInProgress ? 'Carregando ..' : playerName}}</h1>

<tabset #staticTabs>
  <tab heading="Player" [disabled]="skillInProgress || notFound">

    <loader *ngIf="skillInProgress"></loader>

    <h5 *ngIf="notFound">Não encontramos o player <b>{{playerName}}</b> !</h5>

    <div class="table-responsive" *ngIf="!skillInProgress && !notFound">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Skill</th>
          <th scope="col">Exp</th>
          <th scope="col">Level</th>
          <th scope="col">Rank</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let skill of playerSkill">
          <th class="skill-name" scope="row" title="{{skill.name}}"
              [ngStyle]="{'background-image': 'url(assets/skills/' + skill.name + '.png)'}">{{skill.name}}</th>
          <td title="{{skill.exp}}">{{skill.exp}}</td>
          <td title="{{skill.level}}">{{skill.level}}</td>
          <td title="{{skill.rank}}">{{skill.rank}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </tab>
  <tab heading="XP Tracker" [disabled]="skillInProgress || notFound">

    <loader *ngIf="skillInProgress"></loader>

    <p>Em breve!</p>

  </tab>
  <tab heading="User Stats" [disabled]="true"></tab>
</tabset>


