<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Runescape Stats</h1>
      <p>Veja suas Habilidade, seu progresso e mais ...</p>


      <form class="form-inline" (submit)="searchPlayer()">
        <input type="text" class="form-control mb-2 mr-sm-2" id="PlayerFormInput" placeholder="Player"
               required [(ngModel)]="playerInput" name="playerInput">

        <button type="submit" class="btn btn-primary mb-2">Buscar</button>
      </form>

    </div>
  </div>
</main>
